In [33]:
from sqlalchemy import create_engine, text

In [34]:
dbcfg = {
    "user": "root",
    "password": "9838",
    "host": "127.0.0.1",
    "port": 3306,
    "database": "mini_twitter",
}

DB_URL = f"mysql+mysqldb://{dbcfg['user']}:{dbcfg['password']}@{dbcfg['host']}:{dbcfg['port']}/{dbcfg['database']}?charset=utf8"
db = create_engine(DB_URL, encoding="UTF-8", max_overflow=0)

In [35]:
db.table_names()

['tweets', 'users', 'users_follow_list']

In [36]:
answer = db.execute("select * from tweets")
answer.fetchall()

[]

In [55]:
query = """
    INSERT INTO users (
        name, email, profile, hashed_password
    ) VALUE (
        :name,
        :email,
        :profile,
        :password
    )
"""

user = {'name': 'Seonghyeon Kang', 'email': 'dream2globe2@naver.com', 'password': 'pass1234', 'profile': 'Christian, Data Scientist & Enginner(maybe?)'}
answer = db.execute(text(query), user).lastrowid

In [56]:
answer

7

In [ ]:
query = """
        INSERT INTO tweets (
            user_id,
            tweet
        ) VALUE (
            :id,
            :tweet
        )
    """

answer = db.execute(text(query), user)